.clearfix:after {
    content: "";
    clear: both;
    display: block;
}

#parent {
    background-color: #99afcd;
    border: 2px solid red;
}

.column_1 {
    float: left;
    width: 50%;
}

.column_2 {
    float: left;
    width: 50%;
    background-color: #1883ba;
}

/*.clear {
    clear: left;
}*/

.div_1 {
    /*float: left;*/
    /*clear: left;*/
    background-color: #d9f3ff;
}

.div_2 {
    background-color: #fb3958;
}






/*.column {
    float: left;
    width: 20%;
}*/

.col-1 {
    float: left;
    width: 20%;
}
.col-2 {
    float: left;
    width: 30%;
    margin-left: 100px;
}
.col-3 {
    float: right;
    width: 30%;
}




