body {
    font-family: 'Roboto', sans-serif;
}

#topbar {
    background-color: #F0F0E9;
    padding: 12px 0px;
}
#topbar ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
    display: flex;
}
#topbar ul li {
    color: #696763;
    font-size: 12px;
    margin: 0px 15px;
}
#topbar .sociable ul{
    justify-content: flex-end;
}
#topbar ul li a {
    color: #696763;
}


#header {
    padding: 15px 0px;
}
#header ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
    display: flex;
    justify-content: flex-end;
}
#header ul li {
    margin: 0px 15px;
}



#main-nav ul li a {
    font-size: 14px;
    color: #696763;
}
#main-nav ul li:hover a {
    color: #fe980f;
}


#banner .carousel-item {
    text-align: right;
}


#content h3{
    font-size: 18px;
    color: #FE980F;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    position: relative;
    margin-bottom: 20px;
    height: 20px;
}
#content h3 span {
    position: absolute;
    background-color: #fff;
    top: -0px;
    left: 50%;
    padding: 0px 10px;
    margin-left: -55px;
}
#content h3:before {
    content: "";
    border: 1px solid #ccc;
    position: absolute;
    width: 100%;
    top: 50%;
}
#content h3:before {
    left: 0px;
}



#sidebar .category-list {
    border: 1px solid #ccc;
    padding: 10px 15px;
}
#sidebar .category ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}
#sidebar .category ul li {
    margin-bottom: 10px;
}
#sidebar .category ul li a {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    color: #696763;
}


#section_1 .productWrapper{
    border: 1px solid #ccc;
    margin-bottom: 20px;
}
#section_1 .productWrapper .choose {
    border-top: 1px solid #ccc;
}
#section_1 .product {
    padding: 10px;
    position: relative;
    overflow: hidden;
}
#section_1 .product .price {
    font-size: 25px;
    font-weight: bold;
    color: #FE980F;
    display: block;
    margin: 15px 0px 5px;
}

#section_1 .product .overlay {
    background-color: rgba(254, 152, 15, .8);
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    transform: translateY(-100%);
    transition: 1s;
    transform-origin: top;
}
#section_1 .product .overlay-text {
    position: absolute;
    bottom: 0px;
    width: 100%;
    color: #fff;
}
#section_1 .product .overlay-text .price {
    color: #fff;
}
#section_1 .product .overlay-text a {
    display: inline-block;
    padding: 5px 10px;
    background-color: #fff;
    color: #FE980F;
}

#section_1 .product:hover .overlay {
    transform: translateY(0%);
}